.home{
    background-image:url("../images/backgrounds/h_img.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 20%;
}

.About{
    text-align: center;
}
.Services{
    background-image: url("../images/backgrounds/s_image.jpg");
    color: white;
    text-align: center;
    height: 40vh;
    padding-top: 60px;
}
.what-we-do{
  margin: auto;
  text-align: center;
}
#design{
    display: none;
}
#development{
    display: none;
}
#product{
    display: none;
}
.portfolio{
    text-align: center;
}
.text{
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 30px;
    opacity: 0.5;
    z-index: 1;
    background-color: white;
    display: none;
}

#contact{
    text-align: center;
}
.contact{
    background-image:url("../images/backgrounds/c_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
#name,#email,#comment{
    background-color: transparent;  
     color: white;
 }

 .form-control::placeholder{
     color: white;
 }
 footer{
     text-align: center;
 }